body {
    background-color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.assign {
    background-color: darkslategray;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
}
.assign img {
    width: 200px;
    margin: 10px;
}
